:target{
  scroll-margin-top: 150px;
}

.btn-classes {
    border: 8px solid #FA8072 !important; /* Changes border thickness and color (Green) */
    color: #FA8072 !important;            /* Changes text/icon color */
    background-color: transparent;        /* Keeps the inside clear */
    padding: 8px 16px;                    /* Adjusts the button size/internal spacing */
    border-radius: 8px;                   /* Adjusts how round the corners are */
    transition: all 0.3s ease;            /* Makes the hover effect smooth */
    font-family: 'Mulish', sans-serif;
    font-weight: 800;    
}

.btn-classes:hover {
    background-color: #FA8072 !important;
    color: #ffffff !important;            /* Turns text white on hover */
}
