---
layout: base
---

<nav class="side-nav">
  <ul>
    <li><a href="/LSI/Aulas/TE/A1">Aula 1</a></li>
    <li><a href="/LSI/Aulas/TE/A2">Aula 2</a></li>
    <li><a href="/LSI/Aulas/TE/A3">Aula 3</a></li>
    <li><a href="/LSI/Aulas/TE/A4">Aula 4</a></li>
    <li><a href="/LSI/Aulas/TE/A5">Aula 5</a></li>
    <li><a href="/LSI/Aulas/TE/A6">Aula 6</a></li>
    <li><a href="/LSI/Aulas/TE/A7">Aula 7</a></li>
    <li><a href="/LSI/Aulas/TE/A8">Aula 8</a></li>
    <li><a href="/LSI/Aulas/TE/A9">Aula 9</a></li>
    <li><a href="/LSI/Aulas/TE/A10">Aula 10</a></li>
  </ul>
</nav>
